*{
    font-family: sans-serif,'poppins';
    padding:0%;
    margin: 0%;
}
body{
    background-color:black;
}

/* nav */
nav{
    display: flex;
    height:4em;
    width:100%;
    align-items: center;
    background:black;
    justify-content:space-between;
}
.nav-left, .nav-right{
    display: flex;
    color:white;
    width: 50%;
    align-items: center;
}
#logo img{
    align-items: center;
    width:9rem;
    padding-left: 4.5rem;
    cursor: pointer;
}
.nav-left ul li{
   display:flex; 
   align-items: center;
   font-size: 13px;
   font-weight: bold;
   padding:10px 12px;
   border-radius: 12px;
   border-style: none;
   float: left;
   cursor: pointer;
}
.nav-left ul li:hover{
    border-radius:30px;
    background-color: rgb(39, 38, 38);
}
.nav-right ul{
    display: flex;
    padding-inline-start: 50%;
}
.nav-right ul li{
   display:flex; 
   height:15px;
   align-items: center;
   font-size: 13px;
   font-weight: bold;
   gap:5px;
   padding:12px;
   border-style: none;
   cursor: pointer;
}
.nav-right ul li img{
    height: 20px;
    width:20px;
    padding-right: 5px;
}
.nav-right ul li:hover{
    border-radius:24px;
    background-color: rgb(39, 38, 38);
}
#sign{
    cursor: pointer;
    display: inline-flex;
    border-radius: 25px;
    align-items: center;
    font-size: medium;
    padding: 10px;
}

/* hero */
.hero{
    display: flex;
    height: 1000px;
    width:100%;
    margin-top:10px;
}
.hero-left-section{
    width:50%;
    height:1000px;
}
.hero-left-section p{
    margin-top:8rem;
    margin-left:9rem;
    padding-top: 4rem;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.hero-left-section h6{
    color:rgb(255, 255, 255);
    font-size:large;
    margin-left: 9rem;
    padding-top:30px;
}
.location input ,.destination input{
    margin-left: 9rem;
    width:60%;
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 10px;
    font-size:x-large;
}
.see-price input{
    margin-left: 9rem;
    width:20%;
    height: 3rem;
    margin-top: 2rem;
    border-radius: 10px;
    font-size:x-large;
}
.hero-right-section{
    width:50%;
    height: 1000px;
}
.hero-right-section img{
    width: 550px;
    margin:3rem 1rem;
}

/* home */
.home{
    display: flex;
    width:100%;
    height:800px;
    background-color: white;
}
.home-left-section{
    width:50%;
    height:800px;
}
.home-left-section img{
    margin-top: 5rem;
    padding-left: 9rem;
    width:80%;
}
.home-right-section{
    width:50%;
    height: 800px;
}
.home-right-section p{
    margin-top:8rem;
    margin-right:9rem;
    padding-left: 5rem;
    padding-top: 4rem;
    color: black;
    font-size: 55px;
    font-weight:bold;
}
.home-right-section h6{
    color:black;
    font-size:16px;
    letter-spacing: 1.5px;
    line-height: 24px;
    font-weight: normal;
    margin-right: 9rem;
    padding-left: 5rem;
    padding-top:4rem;
}
.ttt{
    display:inline-flex;
    width:100%;
    margin-top: 3rem;
    height: 50px;
    background-color: white;
}
#get-started{
    display: flex;
    width:40%;
}
#get-started button{
    display: flex;
    cursor: pointer;
    margin-left: 5rem;
    border-radius: 15px;
    border:0;
    align-items: center;
    font-size: 25px;
    padding: 8px;
    color: white;
    background: black;
}
.text{
    display: flex;
    width: 50%;
    cursor: pointer;
    font-size: 20px;
    line-height: 50px;
}
.text:hover{
    text-decoration: underline;
    transition: 0.5s;
}

/* home-2 */
.home-2{
    display: flex;
    width:100%;
    height:800px;
    background-color: white;
}
.home-2-right-section{
    width:50%;
    height:800px;
}
.home-2-right-section img{
    margin-top: 5rem;
    padding-right: 9rem;
    width:80%;
}
.home-2-left-section{
    width:50%;
    height: 800px;
}
.home-2-left-section p{
    margin-top:8rem;
    margin-right:7rem;
    padding-left: 10rem;
    padding-top: 4rem;
    color: rgb(61, 60, 60);
    font-size: 55px;
    font-weight:bold;
}
.home-2-left-section h6{
    color:black;
    font-size:16px;
    letter-spacing: 1.5px;
    font-weight: normal;
    padding-left: 10rem;
    padding-top:4rem;
}
.ttt-2{
    display:inline-flex;
    width:100%;
    margin-top: 3rem;
    margin-left: 5rem;
    height: 50px;
    background-color: white;
}
#get-started{
    display: flex;
    width:50%;
}
#get-started button{
    display: flex;
    cursor: pointer;
    border-radius: 15px;
    border:0;
    align-items: center;
    font-size: 25px;
    padding: 8px;
    color: white;
    background: black;
}
.text{
    display: flex;
    cursor: pointer;
    width: 50%;
    font-size: 20px;
    line-height: 50px;
}

/* home-3 */
.home-3{
    display: flex;
    width:100%;
    height:800px;
    background-color: white;
}
.home-3-left-section{
    width:50%;
    height:800px;
}
.home-3-left-section img{
    margin-top: 5rem;
    padding-left: 9rem;
    width:80%;
}
.home-3-right-section{
    width:50%;
    height: 800px;
}
.home-3-right-section p{
    margin-top:8rem;
    margin-right:9rem;
    padding-left: 5rem;
    padding-top: 4rem;
    color: black;
    font-size: 35px;
    font-weight:bold;
}
.home-3-right-section h6{
    color:black;
    font-size:16px;
    letter-spacing: 1.5px;
    line-height: 24px;
    font-weight: normal;
    margin-right: 9rem;
    padding-left: 5rem;
    padding-top:4rem;
}
.ttt-3{
    display:inline-flex;
    width:100%;
    margin-top: 3rem;
    height: 50px;
    background-color: white;
}
#get-started{
    display: flex;
    width:40%;
}
#get-started button{
    display: flex;
    cursor: pointer;
    margin-left: 5rem;
    border-radius: 15px;
    border:0;
    align-items: center;
    font-size: 25px;
    padding: 8px;
    color: white;
    background: black;
}

/* last */
.last{
    display:flex;
    width:100%;
    height: 400px;
    background-color: #F6F6F6;;
}
.last-left-section{
    width:50%;
    height:400px;
}
.last-left-section p{
    padding-left: 9rem;
    padding-top: 3rem;
    font-size: 36px;
    font-weight:bold
}
.box-left{
    display: flex;
    width:80%;
    height:200px;
    background-color: white;
    margin:3rem;
    margin-left: 9rem;
}
.Qr-left img{
    width:80%;
    margin: 1.5rem;
}
.box-text-left{
    width:75%;
}
#box-text-text-left{
    font-size: 25px;
    padding-top: 5rem;
    padding-left: 0;
}
#box-text-p-left{
    font-size: 20px;
    font-weight:normal;
    padding-top: 0rem;
    padding-left: 0;
}
.last-right-section{
    width:50%;
    height:400px;
}
.box-right{
    display: flex;
    width:80%;
    height:200px;
    background-color: white;
    margin:3rem;
    margin-top: 8.5rem;
}
.Qr-right img{
    width:80%;
    margin: 1.5rem;
}
.box-text-right{
    width:75%;
}
#box-text-text-right{
    font-size: 25px;
    padding-top: 5rem;
    padding-left: 0;
}
#box-text-p-right{
    font-size: 20px;
    font-weight:normal;
    padding-top: 0rem;
    padding-left: 0;
}

/* footer */
.footer{
    width:100%;
    height:1000px;
    background-color:black;
}

/* footer-upper */
.footer-upper{
    width:100%;
    color: white;
    height: 250px;
}
#uber{
   padding:4rem;
   padding-left: 12rem;
   font-size: 30px;
}
#visit{
    padding-left: 12rem;
    font-size: 20px;
    cursor: pointer;
 }

 /* footer-middle */
.footer-middle{
    width:100%;
    height: 450px;
    color: white;
    display:flex;
}
.company{
    line-height: 36px;
    padding-left:12rem ;
    list-style: none;
}
.company p{
    font-size:25px;
    font-weight: 100;
}
.products{
    line-height: 36px;
    padding-left:12rem ;
    list-style: none;
}
.products p{
    font-size:25px;
    font-weight: 100;
}
.global-citizenship{
    line-height: 36px;
    padding-left:12rem ;
    list-style: none;
}
.global-citizenship p{
    font-size:25px;
    font-weight: 100;
}
.travel{
    line-height: 36px;
    padding-left:12rem ;
    list-style: none;
}
.travel p{
    font-size:25px;
    font-weight: 100;
}
/* footer-bottom */
.footer-bottom{
    display: flex;
    width:100%;
    height: 350px;
    background-color: black;
}
.footer-bottom-left{
    width:100%;
    margin-left: 7rem;
    height:5rem;
}
.footer-bottom-left img{
    margin-left: 5rem;
    width:20px;
    cursor: pointer;
}
#image{
    width:40px;
}
.footer-bottom-app{
    width:100%;
    height:10rem;
    margin-left: 7rem;
}
.footer-bottom-app p{
    padding:5rem;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.518);
}
#play-store{
    width: 8rem;
    margin-left: 5rem;
    padding: none;
    cursor: pointer;
}
#app-store{
    width:8rem;
    height: 2.5rem;
    padding: none;
    cursor: pointer;
}
.footer-bottom-right{
    background-color: black;
    width:50%;
}
.footer-button{
    display: flex;
    margin-left: 25rem;
}
.footer-bottom button{
    display: flex;
    gap:10px;
    border:0px;
    align-items: center;
    font-weight: bold;
    width:6rem;
    height: 2rem;
    background-color: black;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.footer-bottom-right img{
    width:20px
}
.footer-bottom-right-about{
    margin: 11rem;
    padding-left: 12rem;
}
.footer-bottom-right-about ul{
    display: flex;
    list-style: none;
    color:rgba(255, 255, 255, 0.518);
    font-size: 12px;
    gap:3rem;
}
.footer-bottom-right-about ul li{
    cursor: pointer;
}